body{
background-color: white;
flex-direction: column;
}
.title{
    background:linear-gradient(90deg, #66BB57 0%, #8AC34A 100%);
    border:1px solid;
    border-radius: 8px;
    font-size: 1em;
    color: white;
    margin-right: auto;
    padding: 15px 20px;
}
.home-content{
    font-size:3em;
    text-align: center;
    font:bold;
    color: gray;
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    text-align: right;

}
.header{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    margin-left: auto;
    font-size: 1.2em;
}
.content_breadcrumb{
    background-color: lightgrey;
    display:flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px 20px;
}
.breadcrumb_li_actual{
    font-weight:bold;
    font-size: 1.1em;
    color:#0076D9;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    text-decoration: none;
    padding-right: 15px;
}
a:link { 
    color: grey;
      text-decoration: none; 
}
a:visited { 
    color: grey;
      text-decoration: none; 
}
a:hover { 
      text-decoration: none;
      color:#0076D9;
}
a:active{ 
    text-decoration: none; 
}
.button_blue{
    background-color: #0076D9;
    border: 1mm solid #0076D9;
    border-radius: 8px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    font-weight: bold;

}
.button_blue:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
.button_green{
    background-color: #8AC34A;
    border: 1mm solid #8AC34A;
    border-radius: 8px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    font-weight: bold;

}
.button_green:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
.send_money_container{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

