<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/fcd15b915a.js" crossorigin="anonymous"></script>
</head>
<body>
<form method="post" th:action="@{/contacts/addConnection}">
    <input type="text" id="email" name="email"  placeholder="Email to add" required>
    <button type="submit" class="text-light bg-primary rounded px-4">add connection</button>
</form>
</body>
</html>