<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><meta charset="utf-8">
  <title>Pay My Buddy</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/fcd15b915a.js" crossorigin="anonymous"></script>

</head>

<body class="hold-transition register-page">

<div class="box">

    <h1 class="title"> Pay My Buddy </h1>

    <div class="alert alert-success" role="alert" th:if="${registrationMsg != null}">
        <p th:text="${registrationMsg}"></p>
      </div>

      <div th:if="${registrationMsg == null}">
         <p class="login-box-msg">Register a new account</p>
          <form action="#" th:action="@{/register}" th:object="${personData}" method="post">

          <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
          </div>
              <div class="fields">
          <div class="field-email">
              <i class="fa-regular fa-envelope icon"></i>
            <input type="email" class="input-field" th:field="*{email}" placeholder="Email"
                   th:errorclass="is-invalid">
          </div>
          <div class="field-password">
              <i class="fa-solid fa-asterisk icon"></i>
            <input type="password" class="input-field" th:field="*{password}" placeholder="Password"
                   th:errorclass="is-invalid">
          </div>
              </div>
            <div class="login">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
            </form>

        <a href="login" class="link-login">I already have an Account</a>
</div>
</body>
</html>