<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">

  <head>
    <meta charset="utf-8" />
    <title>Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style-home.css">
  </head>

  <body>
    <div class="header">
      <h1 class="title">Pay My Buddy</h1>

      <div class="menu">
        <ul class="menu_ul">
          <li class="menu_li"><a href="/home">Home</a></li>
          <li class="menu_li"><a href="/transfers">Transfer</a></li>
          <li class="menu_li"><a href="/profiles">Profile</a></li>
          <li class="menu_li"><a href="/add">Contact</a></li>
          <li class="menu_li"><a href="/logout">Log off</a></li>
        </ul>
      </div>
    </div>
    <div class="content_breadcrumb">
      <div class="breadcrumb">
        <ul class="breadcrumb_ul">
          <li class="breadcrumb_li">Home</li>
          <li class="breadcrumb_li">/</li>
          <li class="breadcrumb_li_actual">Transfer</li>
        </ul>
      </div>
    </div>
    <div class="add_connection_button">
      <form method="get" action="/add">
        <button class="button_blue" type="submit">Add Connection</button>
      </form>
    </div>

    <div class="send_money">
      <p>Send Money</p>
      <div class="send_money_container">
          <div class="list_contact">
            <label for="dropDownList">
              <select class="form-control" id="dropDownList">
                <option value="0">select Connection</option>
                <option th:each="userContact : ${userContactList}" th:value="${userContact}" th:text="${userContact}"></option>
              </select>
            </label>
          </div>
        <div class="money_amount">
          <form>
            <label for="quantity">
              <input type="number" id="quantity" name="quantity" min="1" max="3000">
            </label>
          </form>
        </div>
        <div class="pay_button">
          <form>
            <button class="button_green" type="submit">Pay</button>
          </form>
        </div>
      </div>
    </div>
   <div class="user_transactions">
      <tr th:each="userTransaction: ${userTransactionList}">
        <td th:text="${userTransaction}"></td>
      </tr>
    </div>







  </body>
</html>
