<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">

  <head>
    <meta charset="utf-8" />
    <title>Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style-home.css">
  </head>

  <body>
    <div class="header">
      <h1 class="title">Pay My Buddy</h1>

      <div class="menu">
        <ul class="menu_ul">
          <li class="menu_li"><a href="/home">Home</a></li>
          <li class="menu_li"><a href="/transfers">Transfer</a></li>
          <li class="menu_li"><a href="/profiles">Profile</a></li>
          <li class="menu_li"><a href="/add">Contact</a></li>
          <li class="menu_li"><a href="/logout">Log off</a></li>
        </ul>
      </div>
    </div>
    <div class="content_breadcrumb">
      <div class="breadcrumb">
        <ul class="breadcrumb_ul">
          <li class="breadcrumb_li">Home</li>
          <li class="breadcrumb_li">/</li>
          <li class="breadcrumb_li_actual">Transfer</li>
        </ul>
      </div>
    </div>
    <div class="add_connection_button">
      <form method="get" action="/add">
        <button class="button_blue" type="submit">Add Connection</button>
      </form>
    </div>

    <div class="send_money">
      <p>Send Money</p>
      <div class="send_money_container">
        <form method="post" th:action="@{/transactions/pay}">

          <div class="list_contact">
            <label for="dropDownList">Select a connection</label>
            <select class="form-control" id="dropDownList" name="contactEmail">
                  <option value="0">select Connection</option>
                  <option th:each="userContact : ${userContactList}" th:value="${userContact}" th:text="${userContact}"></option>
              </select>
          </div>

        <div class="money_description">
          <label for="description"></label><input type="text" id="description" name="description" placeholder="description to add" required>
        </div>

        <div class="money_amount">
            <label for="quantity">
              <input type="number" id="quantity" name="amount" min="1" max="3000">
            </label>
        </div>

        <div class="pay_button">
            <button class="button_green" type="submit">Pay</button>
        </div>
        </form>
      </div>
    </div>


   <div class="user_transactions">
     <p>Transaction made</p>
       <table>
         <thead>
         <tr>
           <th> Connection </th>
           <th> Description </th>
           <th> Amount </th>
         </tr>
         </thead>
         <tbody>
         <tr th:each="userTransactionMade : ${transactionMadeList}">
           <td><span th:text="${userTransactionMade.receiverEmail}"> Email </span></td>
           <td><span th:text="${userTransactionMade.description}"> Description </span></td>
           <td><span th:text="${userTransactionMade.amount}"> Amount </span></td>
         </tr>
         </tbody>
       </table>
     <p>Transaction received</p>
     <table>
       <thead>
       <tr>
         <th> Connection </th>
         <th> Description </th>
         <th> Amount </th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="userTransactionReceived : ${transactionReceivedList}">
         <td><span th:text="${userTransactionReceived.receiverEmail}"> Email </span></td>
         <td><span th:text="${userTransactionReceived.description}"> Description </span></td>
         <td><span th:text="${userTransactionReceived.amount}"> Amount </span></td>
       </tr>
       </tbody>
     </table>
    </div>







  </body>
</html>
